extends includes/layout.pug

block content
  .top-page
    .hero
      if theme.logo 
        - logo_path = theme.logo.replace(".png",".webp")
        img(src=url_for(logo_path), alt=config.title)
      else
        h1= config.title
    .container
      include includes/parts/agetos.pug
      div(class="row" style="gap:1rem;")
        div(class="col s12 m6")
          h2 最近の更新
          - var post_list = []
          - var site_post_data = site.posts.data.sort((a,b) => b.date - a.date)
          - var count = 0
            each post in site_post_data
              - post_list.push(post)
              - count += 1
              if count == config.index_generator.per_page
                - break
          - post_list = post_list
          ul 
            each post in post_list
              li 
                p
                  a(href=url_for(post.path))= post.title 
                  span= "　" + full_date(post.date,'YYYY年 MMMM Do')
        div(class="col s12 m6")
          if theme.menu
            each url, label in theme.menu
              a(href=url_for(url) class="btn" style="width:100%")= label